body{
  background-color: purple;
  font-family: "Acme";
}

footer{
  margin: 0px 15px;
  font-size: small;
}

.site-title {
  background-image: linear-gradient(blue,pink);
  color: yellow;
  margin: 0;
  text-align: center;
}

.slogan{
  background-image: linear-gradient(pink,blue);
  color: yellow;
  margin: 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  float: left;
}

.product-card {
  border: solid darkblue;
  margin: 60px;
  width: 300px;
  min-height: 875px;
  box-shadow: 5px 5px black;
  border-radius: 25px;
  background-color: pink;
}

.product-card img {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
}

.product-header {
  width: 298px;
  max-height: 150px;
  padding: 0;
  margin: 0;
  border: solid lightblue;
  text-align: center;
  background-color: pink;
  box-shadow: 5px 5px black;
  border-radius: 25px 25px 0px 0px;
}

.productdescription {
  text-align: justify;
  margin: 10px;
}

.specification-header{
  margin: 0px 5px;
}

.pricing-header{
  margin: 0px 5px;
}

.dimensions{
  margin: 0px 15px;
  font-weight: bold;
}

.pricing{
  margin: 0px 15px;
  font-weight: bold;
}

.availability{
  background-color: darkgrey;
  color: yellow;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3px;
  margin: 0px;
}

.out-of-stock{
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  object-fit: none;
}
